@font-face {
    font-family: roboto;
    src: url(./Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: robotoxb;
    src: url(./Roboto/Roboto-Bold.ttf);
}
body{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align: baseline; 
}
.div1{
    background-color: #1F2937;
    width: 1550px;
    height: 500px;
    margin-left: 100px;
    margin-top: 0%;
   
}
h1{
    color: #F9FAF8;
    font-family: roboto;
    
}
h2{
    color: #E5E7EB;
    font-family: roboto;
    font-size: 18px;
}
h3{
    color: #F9FAF8;
    font-family: roboto;
    font-size: 150px;
    font-weight: bold;
    font-size: x-large;
}
.div1 button{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: #3882f6;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.div1 img{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: #3882f6;
    
}
.div1 p{
    color: white;
    font-family: roboto;
}
.div2{
    
    width: 1000px;
    height: 400px;
    margin-left: 350px;
    margin-top: 0%;
}
.div2 img{
    
    border-width: 5px;
    border-radius: 15px;
    border: 2px solid #3882f6;
    margin-left: 70px;
}
.div2 p{
    margin-left: 70px;
    width: 140px;
}
h5{
    text-align: center;
    font-size: 36px;

}
.div3{
    background-color: #E5E7EB;
    width: 1550px;
    height: 300px;
    margin-left: 100px;
    margin-top: 0%;
}
.div3 p{
    text-align:center;
    font-size:36px;
    font-weight:sbold;
    font-style: italic;
    color: #1F2937;
    margin-top: 50px;
    margin-bottom: 0;
}
h4{
    margin-left: 650px;
    margin-top: 0;
   
}
.div4{
    background-color:#3882f6;
    border-radius: 10px;
    width: 800px;
    height: 100px;
    margin-left: 400px;
    margin-top: 30px;
}
h6{
    margin-top: 15px;
    margin-bottom: 1px;
    margin-left: 100px;
    width: 300px;
    text-align: left;
    color:#E5E7EB;
    font-size: 17px;
}
.div4 p{
    margin-top: 0;
    margin-left: 100px;
    width: 300px;
    text-align: left;
    color:#E5E7EB;
}
.div4 button{
    width: 100px;
    height: 25px;
    margin-left: 150px;
    border-width: 2px;
    border-radius: 6px;
    color:#F9FAF8;
    background-color: #3882f6;
    border-color:#F9FAF8;
    border-style: solid;
    cursor: pointer;
}
.site-footer {
    background-color: #1F2937;
    width: 1550px;
    height: 30px;
    margin-left: 100px;
  }
.site-footer p{
    text-shadow: #3882f6;
    text-align: center;
    color: #E5E7EB;
    margin-top: 50px;
}
