body{
    margin:0;
    padding:0;
    border:0;
    outline:0;
}
nav{
    background-color: blue;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0%;
}
header{
    width: 100%;
    background-color: blue;

}